body {
  background:#0f0f0f;
  color:white;
  font-family:Arial;
  margin:0;
  padding:20px;
}

header {
  text-align:center;
}

.tools a {
  display:block;
  background:#1f1f1f;
  padding:15px;
  margin:10px 0;
  border-radius:8px;
  text-decoration:none;
  color:white;
}

button {
  padding:12px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.lockbtn {
  margin-top:20px;
}

footer {
  margin-top:30px;
  text-align:center;
  opacity:0.6;
}

#lock {
  position:fixed;
  inset:0;
  background:black;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  z-index:9999;
}

#lock input {
  padding:12px;
  font-size:16px;
  margin:10px;
}

#error {
  color:red;
}
