body {
  margin:0;
  font-family: Arial, sans-serif;
  background:#020617;
  color:white;
}

/* LOCK */
#lockScreen {
  position:fixed;
  inset:0;
  background:#020617;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

#lockScreen input {
  padding:10px;
  border-radius:8px;
  border:none;
  margin:10px;
}

#lockScreen button {
  padding:8px 15px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

/* CONTENT */
header {
  padding:20px;
  text-align:center;
}

header input {
  padding:10px;
  width:60%;
  max-width:400px;
  border-radius:8px;
  border:none;
}

.buttons button {
  margin:5px;
  padding:8px 12px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.games {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  padding:20px;
}

.card {
  background:#0f172a;
  border-radius:15px;
  text-align:center;
  overflow:hidden;
}

.card img {
  width:100%;
  height:120px;
  object-fit:cover;
}

.card h3 {
  margin:10px;
}

.card button {
  margin-bottom:10px;
  padding:6px 10px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

footer {
  text-align:center;
  padding:15px;
  opacity:0.7;
}
