body{background:#111;color:#fff;font-family:Arial;padding:20px}
a{color:#0af;text-decoration:none}
.grid a{display:block;background:#222;padding:15px;margin:10px 0;border-radius:8px}
.login{max-width:300px;margin:auto;margin-top:100px}
input,button,textarea{width:100%;padding:10px;margin:5px 0}
footer{opacity:.5;margin-top:30px;text-align:center}
